<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<html>
<body>
    <h2>Cart Page</h2>
    <a href="/"><button>Home</button></a>
    <a href="/inventory_page"><button>Inventory</button></a>

    {{#if carts.length}}
    <ul>
        {{#each carts}}
            <li>
                <p>Username: {{username}}</p>
                <p>Items:</p>
                <ul>
                    {{#each items}}
                        {{#if this}}
                            <li>{{this}}</li>
                        {{/if}}
                    {{/each}}
                </ul>
                <p>Item Prices:</p>
                <ul>
                    {{#each itemPrices}}
                        {{#if this}}
                            <li>{{this}}</li>
                        {{/if}}
                    {{/each}}
                </ul>
                <!-- Delete button for each cart item -->
                <form action="/deleteCartItem/{{_id}}?_method=DELETE" method="POST">
                    <input type="submit" value="Delete Item">
                </form>
            </li>
        {{/each}}
    </ul>
    {{else}}
        <p>No items in cart</p>
    {{/if}}

    <!-- Form to add items to cart -->
    <h2>Add an Item to Cart</h2>
    <form action="/addToCart" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        <br>
        <label for="items">Item:</label>
        <input type="text" name="items" id="items">
        <br>
        <label for="itemPrices">Item Prices:</label>
        <input type="text" name="itemPrices" id="itemPrices">
        <br>
        <input type="submit" value="Add Item to Cart">
    </form>
</body>
</html>