<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<html>
<body>
    <h2>Inventory Page</h2>
    <a href="/"><button>Home</button></a>
    <a href="/cart_page"><button>Cart</button></a>

    {{#if inventories.length}}
    <ul>
        {{#each inventories}}
            <li>
                <p>Username: {{username}}</p>
                <p>Items:</p>
                <ul>
                    {{#each items}}
                        {{#if this}}
                            <li>{{this}}</li>
                        {{/if}}
                    {{/each}}
                </ul>
                <p>Item Descriptions:</p>
                <ul>
                    {{#each itemDescriptions}}
                        {{#if this}}
                            <li>{{this}}</li>
                        {{/if}}
                    {{/each}}
                </ul>
                <!-- Delete button for each inventory item -->
                <form action="/deleteInventoryItem/{{_id}}?_method=DELETE" method="POST">
                    <input type="submit" value="Delete Item">
                </form>
            </li>
        {{/each}}
    </ul>
    {{else}}
        <p>No items in inventory</p>
    {{/if}}

    <!-- Form to add items to inventory -->
    <h2>Add an Item to Inventory</h2>
    <form action="/addToInventory" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        <br>
        <label for="items">Item:</label>
        <input type="text" name="items" id="items">
        <br>
        <label for="itemDescriptions">Item Description:</label>
        <input type="text" name="itemDescriptions" id="itemDescriptions">
        <br>
        <input type="submit" value="Add Item to Inventory">
    </form>
</body>
</html>
