<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<html>
<body class="bg-gray-200 text-gray-800">
    <h2 class="text-xl font-bold mb-4">Inventory Page</h2>
    <a href="/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded inline-block mr-2">Home</a>
    <a href="/cart_page" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded inline-block">Cart</a>
    {{#if inventories.length}}
    <ul class="list-none">
        {{#each inventories}}
            <li class="bg-gray-700 p-4 rounded mb-2">
                <p>Username: {{username}}</p>
                <p>Items:</p>
                <ul class="list-none pl-0">
                    {{#each items}}
                        {{#if this}}
                            <li>{{this}}</li>
                        {{/if}}
                    {{/each}}
                </ul>
                <p>Item Descriptions:</p>
                <ul class="list-none pl-0">
                    {{#each itemDescriptions}}
                        {{#if this}}
                            <li>{{this}}</li>
                        {{/if}}
                    {{/each}}
                </ul>
                <form action="/deleteInventoryItem/{{_id}}?_method=DELETE" method="POST">
                    <input type="submit" value="Delete Item" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                </form>
            </li>
        {{/each}}
    </ul>
    {{else}}
        <p>No items in inventory</p>
    {{/if}}

    <h2 class="text-xl font-bold mb-4">Add an Item to Inventory</h2>
    <form action="/addToInventory" method="post" class="bg-gray-700 p-4 rounded">
        <label for="username" class="block mb-2">Username:</label>
        <input type="text" name="username" id="username" class="bg-gray-800 text-white p-2 rounded mb-4 w-full">
        <label for="items" class="block mb-2">Item:</label>
        <input type="text" name="items" id="items" class="bg-gray-800 text-white p-2 rounded mb-4 w-full">
        <label for="itemDescriptions" class="block mb-2">Item Description:</label>
        <input type="text" name="itemDescriptions" id="itemDescriptions" class="bg-gray-800 text-white p-2 rounded mb-4 w-full">
        <input type="submit" value="Add Item to Inventory" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    </form>
</body>
</html>
